{% extends "base.html" %}
{% block title %}Catalog{% endblock %}

{% block content %}
<h1>Looking for damned souls on the cheap? Look no further!</h1>
<hr>

<div class="products">
    {% for item in items %}
        <div class="product">
            <img class="product__img" src="../static/smoul.jpg">
            <div class="product__info">
                <h2 class="product__name">{{ item['name'] }}</h2>
                <div class="product__otherinfo">
                    <div class="product__price">
                        ${{ item['price'] }}!
                    </div>
                    <div class="product__quantity">
                        {{ item['quantity'] }} in stock
                    </div>
                </div>
            </div>
            <button type="button">Buy now!</button>
        </div>
    {% endfor %}
</div>


{% endblock %}