{% extends "base.html" %}
{% block title %}Catalog{% endblock %}

{% block content %}
<h1>Looking for damned souls on the cheap? Look no further!</h1>
<hr>
{{ id }}
{{ name }}
<!-- Search form -->
<!-- Search for products matching ALL non-null properties -->
<form action="/products/search" method="get">
    <label for="id">ID:</label>
    <input type="text" name="id">

    <label for="name">Name:</label>
    <input type="text" name="name">

    <input type="submit" value="SEARCH!">
</form>
<!-- Catalog -->
<div class="products">
    {% for product in products %}
        <div class="product">
            <img class="product__img" src="../static/smoul.jpg">
            <div class="product__info">
                <h2 class="product__name">{{ product['name'] }}</h2>
                <div class="product__otherinfo">
                    <div class="product__price">
                        ${{ product['price'] }} USD
                    </div>
                    <div class="product__quantity">
                        {{ product['quantity'] }} in stock
                    </div>
                    <div class="product__id">
                        Soul ID: #{{ product['id'] }}
                    </div>
                </div>
            </div>
            <!-- TODO: make button work -->
            <button type="button">Buy now!</button>
        </div>
    {% endfor %}
</div>


{% endblock %}