{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <!--Div for the 1st image/text section-->
    <!--All images MUST be 4:3 ratio!-->
    <div class="main__section">
        <img src="../static/banana.jpg">
        <div class="main__text">
            <h1>Has THIS ever happened to you?</h1>
            <hr>
            <p>
                So you've been a bit busy lately - 
                Working hard, playing hard, casting a few too many spells
                or cackling just a bit <em>too</em> evilly atop your dark tower
                on a night <em>just</em> a bit too cold...
                All of a sudden a destined hero barges in like he owns the place
                and starts wreckin' shop...
            </p>
            <p>
                All your arcane bits, all your bobs and thingamajiggs, 
                and you're just <em>out</em> of mana...
            </p>
        </div>
    </div>
    <div class="main__section">
        <div class="main__text">
            <h1 class="client__quote">"I can't DEAL with this... I'm EXHAUSTED!"</h1>
            <hr class="client__quote">
            <p>
                But <em>of course</em> you are! How could you not be?
                Let's face it my dear fellow, this is no age for any kind
                of aspiring spellcaster...
            </p>
            <p>
                Gone are the days that I, you, and all
                happy necromancers round this mortal realm could
                frollick round the fields, plucking daisies, lillies
                and the defiled skeletons of the fallen from the grass...
            </p>
        </div>
        <img src="../static/banana.jpg">
    </div>
    <div class="main__section">
        <img src="../static/banana.jpg">
        <div class="main__text">
            <h1>And how about THIS?</h1>
            <hr>
            <p>
                You've got it <em>aaaaaaaall</em> ready. All the materials neatly organised
                and in place...
            </p>
            <p>
                All the runes formed, all the bones collected and polished to perfection,
                all the words chanted fearfully 
                through the pale dark, without a <em>single</em> typo 
                or invocation of wrath from Moloch...
            </p>
            <p>
                All you need is your late victim's soul and you're set 
                for a whole <em>host</em> of fun!
            </p>
            <p class="client__quote">
                "This will be a breeze..."
            </p>
            <p>
                You're thinking as you put on your marsh-boots and grab your trusty
                shovel or spellbound thrall, getting ready for a night with the boys 
                out on the 
                burial grounds...
            </p>
        </div>
    </div>
    <div class="main__section">
        <div class="main__text">
            <h1>Little do you know...</h1>
            <hr>
            <p>
                There's no soul on that grave! One of those pesky exhumations
                moving the body from this site to that and from thence yonder still, and all <em>you</em>, an
                honest-to-Belial gravedigger are left with is a note from 
                Baron "What's-his-face" or Earl "Butt-muck-cares" telling you 
                <em style="color: yellow;">"We're sorry for your inconvenience, but if you'd like, feel free to take it up to bureau 14-1-z under statute 176.II.8 (but only after you get a seal of approval from Viscount "I've-just-about-had-it" from bureau 63a.84-XVIII-98, mind)"</em>
                ...
            </p>
            <p>
                Or maybe <em>your</em> precious corpse was handed over to the local hospital or parrish 
                for "the betterment of mankind", or "the banishing of daemons" or all that malarkey, 
                and now you might as well stick a pitchfork up your tuchus and roll over 
                'cause you're just about <em>done</em>.
            </p>
        </div>
        <img src="../static/banana.jpg">
    </div>
</div>
{% endblock %}